body { /*background-color: #ffffff;*/
color: #000000

}



section {
  max-width:100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10%;
  margin-left: auto;

}

a img {
flex-wrap: wrap;
margin-right: 10em;
position: ;
margin-left: 10em;
}

.titre h2 {
margin-right: 10em;
  margin-top: em;
flex-wrap: wrap;
display: flex;
padding: 10px;
font-weight:

}

.titre {
  flex-wrap:wrap;
  display:block;
position: relative;
}

p {
  text-align:left;

}

.first {
  padding-bottom:;
background-color:transparent;
position: relative;
}

.projet-perso1:after
   {
     content: " ";
     display: block;
     background: white;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
     clip-path: polygon(0 0, 100% 0, 100%, 0);
     width: 100%;
     height: 171px;
     position: absolute;
     bottom: -170px;
box-shadow: 8px 8px 0px #fff;
}







ol {
  background-color:;
  position:absolute;
  left: 0;
text-align: left;
margin-left: 14%;
text-decoration: none;
flex-wrap: wrap;
justify-content:flex-end;
: ;
}


article h2 {
  text-align:left;
color: #fff;

}

.projet {
  background-color: #000;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 600px;
}

.projet-id {
  background-color: #000;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 500px;
}

.projet-perso1 {
  background-color: #fff;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.flexright{
  flex-flow: row-reverse;
  flex-wrap: wrap;

}
.flexleft{
  flex-flow: row;
  flex-wrap: wrap;

}
.projet-perso {
  background-color: #fff;
margin-top: -%;
position: relative;

}

.projet-perso1 h2 {
  margin-bottom: 20px;
}

.projet-id h2 {
  margin-bottom: 20px;
}

.projet h2 {
  margin-bottom: 20px;
}


#portfolio {

  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 0px;
  height: vh;
  margin: 0;
  display: flex;
  justify-content:space-between;
  position : relative;
  align-items: center;
  align-items:center;
  justify-content: center;
flex-wrap: wrap;

}

#resto {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 0px;
  height: h;
  margin: 0;
  display: flex;
  justify-content:flex-end;
  position : relative;
  align-items: center;
  justify-content: center;
flex-wrap: wrap;

}

.resto img {
height:500px;
margin: 20px;
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.resto:hover img  {
  -webkit-transform:scale(1.12); /* Safari et Chrome */
  -moz-transform:scale(1.12); /* Firefox */
  -ms-transform:scale(1.12); /* Internet Explorer 9 */
  -o-transform:scale(1.12); /* Opera */
  transform:scale(1.12);
  }


  .resto video {
  height:500px;
  margin: 20px;

  }







.image img {
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.image:hover img {
-webkit-transform:scale(1.12); /* Safari et Chrome */
-moz-transform:scale(1.12); /* Firefox */
-ms-transform:scale(1.12); /* Internet Explorer 9 */
-o-transform:scale(1.12); /* Opera */
transform:scale(1.12);
}



#portfolio-video {

  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 0px;
  height: h;
  margin: 0;
  display: flex;
  justify-content:space-between;
  position : relative;
  align-items: center;
  justify-content: center;
flex-wrap: wrap;

}


#portfolio img {
  margin: 20px;
  width: 500px;
flex-wrap: wrap;
}

#portfolio2 {

  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 0px;
  height: vh;
  margin: 0;
  display: flex;
  justify-content:space-between;
  position : relative;
  align-items: center;
  align-items:center;
  justify-content: center;
flex-wrap: wrap;

}

#portfolio2 img {
  margin: 20px;
  width: 300px;
}


#portfolio-illu {

  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 0px;
  height: h;
  margin: 0;
  display: flex;
  justify-content:space-between;
  position : relative;
  align-items: center;
  align-items:center;
  justify-content: center;
flex-wrap: wrap;

}

#portfolio-illu img {
  margin: 20px;
  width: 350px;
}



}

.typo {
  margin-top: -20px;
}

.typo h2 {
  position:relative;
  text-align:left;
  max-width: 30em;
  margin-left:50%;
}



.matières{
  background-color: #fff;

}

header2 {

  min-height: 55vh;

background-repeat: no-repeat;
background-position: top center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 140px;
background-image: url(./images/pho.jpg);
background-color:#000 ;
}


header {

  min-height: 55vh;

background-repeat: no-repeat;
background-position: top center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 140px;
background-image: url(./images/pho.jpg);

}



.header-content-block {

padding: 1em;
padding-bottom: 40px;
}






.container h1 {
  font-size:30em;

}


}

.chapitre1apitre1 h2 {
background-color: #000;
text-align:left;

}

.chapitre1 {
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 400px
}
.workimg{
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 40px

}

.newheader {
background: #000;
margin-bottom: 10%

}



.nastyadvert {
  background-color: #000;
  color: ;
  min-height: 60vh;
  background-image: url(./images/bg-header-02.jpg);
  background-size:cover;
  background-position:center top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 100%;
background-repeat: no-repeat;
display: flex;
}

.nastyadvert02 {
  background-color: #000;
  color: ;
  min-height: 100vh;
  background-image: url(./images/3posters.jpg);
  background-size:contain;
  background-position:center top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
display: flex;
}

.container h1 {
  padding:0 ;
margin-left:55%;
}


.nastyadvert000{
  background-color: #fff;
  color: ;
  min-height: 70vh;
  background-image: url(./images/bureau.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}


.nastyadvert03 {
  background-color: #fff;
  color: ;
  min-height: 70vh;
  background-image: url(./images/base.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert33 {
  background-color: #fff;
  color: ;
  min-height: 70vh;
  background-image: url(./images/car.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert04{
  background-color: #fff;
  color: ;
  min-height: 150vh;
  background-image: url(./images/base-3.jpg);
  background-size:contain ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert h1 {
  font-size: 2em;
  text-align: left;
  margin-right: 700px;
color: #fff;

}


.col-lg-4 {
position: relative;
min-height: 2px;
padding-right: 15px;
padding-left: 15px;
margin: 20px;
}





#footerwrap {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 5px;
justify-content: center;
}







.insta {
width: 40px;
flex-basis: 100%;
display: flex;
justify-content: center;
align-items: center;

}
.instaimg{
  width: 40px
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



.nastyadvert08 h1 {
  font-size: 2em;
  text-align: left;
  margin-right: 700px;
color: #fff;
color:#2f1ed9
}


.nastyadvert05 {
  background-color: #fff;
  color: ;
  min-height: 100vh;
  background-image: url(./images/2beer.jpg);
  background-size:contain ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert06 {
  background-color: #fff;
  color: ;
  min-height: 90vh;
  background-image: url(./images/apacom.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert07 {
  background-color: #fff;
  color: ;
  min-height: 75vh;
  background-image: url(./images/chaumont.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert08 {
  background-color: #fff;
  color: ;
  min-height: 80vh;
  background-image: url(./images/resto2.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert00 {
  background-color: #fff;
  color: ;
  min-height: 100vh;
  background-image: url(./images/carte.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert10{
  background-color: #fff;
  color: ;
  min-height: 80vh;
  background-image: url(./images/digital.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}


.nastyadvert001{
  background-color: #fff;
  color: ;
  min-height: 100vh;
  background-image: url(./images/typoposters.jpg);
  background-size:contain ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

footer {
  background-color: #000;
  color: #000000;
margin :  0;
position: relative;
flex-wrap: wrap;
display: flex;
margin-bottom: 0px;
margin-top: 600px;
}
