body{
  font-family: 'Montserrat', sans-serif;
}


header{
min-height: 80vh;
background-image: url(images/photo1.jpg);
background-position: top center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}

header h1 {
  font-size: 6em;
}

.header-content {
  color: rgb(255,255,255);
border: 1px solid #fff;
text-align: center;
}
