body { /*background-color: #ffffff;*/
color: #000000

}

section {
  max-width:100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10%;
  margin-left: auto;

}

a img {
flex-wrap: wrap;
margin-right: 10em;
position: ;
margin-left: 10em;
}


p {
  text-align:left;

}

.first {
  padding-bottom:;
background-color:transparent;
position: relative;
}

.projet-perso1:after
   {
     content: " ";
     display: block;
     background: white;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
     clip-path: polygon(0 0, 100% 0, 100%, 0);
     width: 100%;
     height: 171px;
     position: absolute;
     bottom: -170px;
box-shadow: 8px 8px 0px #fff;
}







ul {
  background-color:;
  position:absolute;
  left: 0;
  z-index: 99;
text-align: left;
margin-left: 14%;
text-decoration: none;
transition: flex;
}


article h2 {
  text-align:left;
color: #fff;

}

.projet {
  background-color: #000;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 600px;
}

.projet-id {
  background-color: #000;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 500px;
}

.projet-perso1 {
  background-color: #fff;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.flexright{
  flex-flow: row-reverse;
  flex-wrap: wrap;

}
.flexleft{
  flex-flow: row;
  flex-wrap: wrap;

}
.projet-perso {
  background-color: #fff;
margin-top: -%;
position: relative;

}

.projet-perso1 h2 {
  margin-bottom: 20px;
}

.projet-id h2 {
  margin-bottom: 20px;
}

.projet h2 {
  margin-bottom: 20px;
}


#portfolio {

  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:space-between;
  position : relative;
  align-items: center;
  align-items:center;
  justify-content: center;
flex-wrap: wrap;

}

#portfolio img {
  margin: 20px;
  width: 500px;
}




}

.typo {
  margin-top: -20px;
}

.typo h2 {
  position:relative;
  text-align:left;
  max-width: 30em;
  margin-left:50%;
}



.matières{
  background-color: #fff;

}



header {

  min-height: 55vh;

background-repeat: no-repeat;
background-position: top center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 140px;


}

.header-content-block2 {
height: 40%;
padding: 2em;
padding-bottom: -2px;
}


.header-content-block {

padding: 1em;
padding-bottom: 40px;
}

.header-content-block h1 {


}


.header-content-block2 {

padding: 2em;
padding-bottom: -3px;
}


.container h1 {
  font-size:15em;

}


}

.chapitre1apitre1 h2 {
background-color: #000;
text-align:left;

}

.chapitre1 {
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 400px
}
.workimg{
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 40px

}

.newheader {
background: #000;
margin-bottom: 10%

}



.nastyadvert {
  background-color: #000;
  color: ;
  min-height: 150vh;
  background-image: url(./images/bg-header-02.jpg);
  background-size:cover;
  background-position:center top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 100%;
background-repeat: no-repeat;
}

.nastyadvert02 {
  background-color: #000;
  color: ;
  min-height: 150vh;
  background-image: url(./images/3posters.jpg);
  background-size:contain;
  background-position:center top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
}

.container h1 {
  padding-bottom: 500px;
}

.nastyadvert03 {
  background-color: #fff;
  color: ;
  min-height: 150vh;
  background-image: url(./images/base.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert04{
  background-color: #fff;
  color: ;
  min-height: 150vh;
  background-image: url(./images/base-3.jpg);
  background-size:contain ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert03 h1 {
  font-size: 2em;
  text-align: left;
  margin-right: 800px;
color: #fff;

}

.nastyadvert05 {
  background-color: #fff;
  color: ;
  min-height: 150vh;
  background-image: url(./images/2beer.jpg);
  background-size:contain ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert06 {
  background-color: #fff;
  color: ;
  min-height: 150vh;
  background-image: url(./images/apacom.jpg);
  background-size:contain ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}


.nastyadvert00 {
  background-color: #fff;
  color: ;
  min-height: 150vh;
  background-image: url(./images/carte.jpg);
  background-size:cover ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

.nastyadvert001{
  background-color: #fff;
  color: ;
  min-height: 150vh;
  background-image: url(./images/typoposters.jpg);
  background-size:contain ;
  background-position:top;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
max-width: 150%;
background-repeat: no-repeat;
}

footer {
  background-color: #000;
  color: #000000;
margin :  0;
position: relative;
flex-wrap: wrap;
display: flex;
margin-bottom: 0px;
margin-top: 600px;
}
