html {
  font-size: 15px;
}

section {
  font-family: 'Montserrat', sans-serif;

color: #000;
}

.header-content-block h1 {
  font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #2f1ed9;
font-size: 80px;
margin-right: 0%;
text-align: left;
}

.header-content-block2 h2 {
  font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #2f1ed9;
font-size: 80px;
margin-right: 0%;
text-align: left;
padding-left: 20%;;
width: 80%;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2f1ed9;
  font-size: 70px;
  margin-right: 0%;
  text-align: left;
}



.menu  {
  font-family: 'Cutive Mono', monospace;
font-size: 20px;
color:black;
text-decoration: none;
padding-bottom:;
font-weight: bold;
}


body {
  font-family: 'Cutive Mono', monospace;


  font-weight: 400;
  line-height: 1.45;
  text-align: center;
}

.nastyadvert h1 {
  font-size: 70px;
}

article {
  color:#
}


.matières{
  color: #000;
}

p {margin-bottom: 1.3em;}



h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  line-height: 1.2;

}



.chapitre1 {
color: #fff;

}

.projet-perso1 p  {
color: #000;

}

.projet-perso1 h2  {
color: #2f1ed9;

}

.projet-perso1 a  {
  color: #000;
  font-family: 'Cutive Mono', monospace;
font-size: 2em;
text-decoration:overline;
text-align: left;

display: flex;
}

.projet-id a  {
  color: #fff;
  font-family: 'Cutive Mono', monospace;
font-size: 2em;
text-decoration:overline;
text-align: left;

display: flex;
}



h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  font-size: 170px;
  margin-left: 4em;
}

h2 {font-size: 4.236em;

}



small, .font_small {font-size: 0.618em;}
