html {
  font-size: 15px;
}

section {
  font-family: 'Merriweather', serif;
color: #000;
}



body {

  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.45;
  text-align: center;
}

.nastyadvert h1 {
  font-size: 70px;


}

.matières{
  color: #000;
}

p {margin-bottom: 1.3em;}

h1 {
  margin: 1.414em 0 0.5em;
font-family: 'Contrail One', cursive;
  font-weight: inherit;
  line-height: 1.2;
}

h2 {
  margin: 1.414em 0 0.5em;
font-family: 'Contrail One', cursive;
  font-weight: inherit;
  line-height: 1.2;

}



h1 {font-family: 'Contrail One', cursive;
  margin-top: 0;
  font-size: 70px;
  color: #fff;
}

h2 {font-size: 4.236em;

}



small, .font_small {font-size: 0.618em;}
